<div class="container">

<h2 class="divcenter bottommargin font-body" style="max-width: 700px; font-size: 40px;">Start Reviewing...</h2>
							<form id="top-login" role="form" class="divcenter bottommargin" onclick="return false;" ng-submit="login(user)">
								<input id="top-login-username" name="username" ng-model="username" class="form-control input-lg not-dark required bottommargin-sm center" placeholder="Username" style="margin: 0 auto; width:500px;" required>
								<input type="password" id="top-login-password" class="form-control input-lg not-dark required center" name="password" ng-model="password" ng-minlength="3" ng-maxlength="10" placeholder="Password" style="margin: 0 auto; width:500px;" required>
								<button class="button button-border button-circle button-dark topmargin-sm" ng-click="login(user)" type="submit">Login 
								</button>
							</form>							
</div>