<div class="container">
	<h3 class="divcenter bottommargin font-body" style="font-size: 40px;">Viewing: {{viewRestaurantInfo.name}}</h3>
	<br>
	<h2 lass="divcenter bottommargin font-body" style="font-size: 40px;">Locations</h2>
	<table datatable="ng">
		<thead>
			<tr>
				<th>Open Date</th>
				<th>Manager Name</th>
				<th>Phone Number</th>
				<th>Street Address</th>
				<th>Opens</th>
				<th>Closes</th>				
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="l in locationData"> 
			    <td>{{ l.open_date | limitTo: 10}}</td>
			    <td>{{ l.manager_name }}</td>
				<td>{{ l.phone_number }}</td>
				<td>{{ l.street_address }}</td>
				<td>{{ l.hour_open }}</td>
				<td>{{ l.hour_close }}</td>				
			</tr>
		</tbody>
	</table>

	<h2 lass="divcenter bottommargin font-body" style="font-size: 40px;">Ratings</h2>
	<table datatable="ng">
		<thead>
			<tr>
				<th>User</th>
				<th>Type of User</th>
				<th>Rating Date</th>
				<th>Comments</th>
				<th>Price</th>
				<th>Food</th>
				<th>Mood</th>
				<th>Staff</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="r in viewRestaurantRatings"> 
			    <td>{{ r.name }}</td>
			    <td>{{ r.type }}</td>
				<td>{{ r.rating_time | limitTo: 10}}</td>
				<td>{{ r.comments }}</td>
				<td><span stars>{{r.price}}</span></td>
				<td><span stars>{{r.food }}</span></td>
				<td><span stars>{{r.mood }}</span></td>
				<td><span stars>{{r.staff }}</span></td>		   
			</tr>
		</tbody>
	</table>
<br>
<br>
	<h2 class="divcenter font-body" style="font-size: 40px;" >Rate this restaurant!</h2>
	<form novalidate class="css-form" name="ratingForm">
  		  		
  		Price: <input-stars max="5" ng-model="rater.price" required></input-stars><br>
  		Food: <input-stars max="5" ng-model="rater.food" required></input-stars><br>
  		Mood: <input-stars max="5" ng-model="rater.mood" required></input-stars><br>
  		Staff: <input-stars max="5" ng-model="rater.staff" required></input-stars><br>
  		<textarea type="text" ng-model="rater.comments" class="form-control input-lg not-dark required center" placeholder="Comments" style="margin: 0 auto; width:500px; height:100px;" required></textarea><br>
  		<input type="submit" ng-disabled="ratingForm.$invalid" ng-click="insertRating(rater)" value="Rate!" />
	</form>
	<br>
	<br>

	<h2 class="divcenter bottommargin font-body" style="font-size: 40px;">Menu Items</h2>
		<table datatable="ng">
		<thead>
			<tr>
				<th>Name</th>
				<th>Type</th>
				<th>Category</th>
				<th>Description</th>
				<th>Price</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="r in viewRestaurantItems"> 
			    <td>{{ r.name }}</td>
			    <td>{{ r.type }}</td>
				<td>{{ r.category }}</td>			
				<td style="max-width:200px;">{{ r.description }}</td>
			    <td>{{ r.price }}</td>					    
			    <td><button ng-click="updateViewingItem(r)" style="margin-right:0.5em;">View</button><button ng-click="deleteMenuItem(r)">Delete</button></td>
			</tr>
		</tbody>
		</table>

<h2 class="divcenter font-body" style="font-size: 40px;">Add a Menu Item</h2>

<form novalidate class="css-form" name="menuItemForm">
  <h3 style="display:inline;">Type:&nbsp;&nbsp;</h3>  <input type="radio" ng-model="item.itemType"value="Food" id="food" checked><label  for="food">Food</label>
  <input type="radio" ng-model="item.itemType" id="bev" value="Beverage"><label for="bev">Beverage</label>
  <br>
  <br>
  <h3 style="display:inline;">Category:&nbsp;&nbsp;</h3> <input type="radio" ng-model="item.category" value="Starter" id="starter" checked><label for="starter">Starter</label>
  <input type="radio" ng-model="item.category" id="main" value="Main" ><label  for="main">Main</label> 
  <input type="radio" ng-model="item.category" id="desert" value="Desert"><label  for="desert">Desert</label>
  <br>
  <input type="text" ng-model="item.nameOfItem"  class="form-control input-lg not-dark required center" placeholder="Menu Item Name" style="margin: 0 auto; width:500px;" required> <br>
  <input type="text" ng-model="item.descriptionn" class="form-control input-lg not-dark required center" placeholder="Description" style="margin: 0 auto; width:500px;" required> <br>
  <input type="number" ng-model="item.price"  class="form-control input-lg not-dark required center" placeholder="Price" style="margin: 0 auto; width:500px;" max="999.99" step="0.01"required> <br>
  
  <input type="submit" ng-disabled="menuItemForm.$invalid" ng-click="insertMenuItem(item)" value="Insert Menu Item!" />

</form>
</div>